.Chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;

    display: flex;
    flex-direction: column;
}

/* *********************************************************** */
.top {
    display: flex;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid #dddddd35;
    justify-content: space-between;
    align-items: center;


    .userimformation {
        display: flex;
        align-items: center;
        gap: 10px;


        img {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            object-fit: cover;
        }

        .text {
            display: flex;
            gap: 5px;
            flex-direction: column;

            span {
                font-size: 18px;
                font-weight: bold;

            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: #a5a5a5;
            }
        }
    }

}

/* *********************************************************** */

.middle{
    position: 20px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
    /*   take all the avalable spacce in chat */

    overflow: scroll;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: none;
    gap: 20px;

    .message{
            max-width: 70%;
            display: flex;
            gap: 20px;

            &.own{
                align-self: flex-end;

                .texts{
                    p{
                        background-color: #5183fe;
                    }
                }
            }

            img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
            }

            .texts{
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;

                img{
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                    border-radius: 10px;
                }
            }
      

            p{
                padding: 20px;
                background-color: rgba(17, 25, 40, 0.3);
                border-radius: 10px;
            }

            span{
                font-size: 12px;
            }

    }


    
}

/* *********************************************************** */
.bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top:1px solid #dddddd35;
    margin-top: auto;
    padding: 10px;
    
     input{
        background-color: rgba(17, 25, 40, 0.5);
        border: none;
        outline: none;
        flex:1;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px;
        height: 40px;
        
     }
     
     .emoji{
        position: relative;


        .picker{
            position: absolute;
            bottom: 100px;
            left: 0 ;
        }
     }

     img{
        margin-top: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
     }

     .sendButton{
        color: white;
        background-color: #5183fe;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        height: 40px;

     }
}

