.Chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
}

/* *********************************************************** */
.top {
    display: flex;
    padding: 20px;
    height: 100px;
    border-bottom: 1px solid #dddddd35;
    justify-content: space-between;
    align-items: center;


    .userimformation {
        display: flex;
        align-items: center;
        gap: 10px;


        img {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            object-fit: cover;
        }

        .text {
            display: flex;
            gap: 5px;
            flex-direction: column;

            span {
                font-size: 18px;
                font-weight: bold;

            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: #a5a5a5;
            }
        }
    }

}

/* *********************************************************** */
.bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top:1px solid #dddddd35;

    padding: 10px;
    
     input{
        background-color: rgba(17, 25, 40, 0.5);
        border: none;
        outline: none;
        flex:1;
        color: white;
        border-radius: 10px;
        font-size: 15px;
        padding: 10px;
        height: 40px;
        
     }

     .sendButton{
        color: white;
        background-color: #5183fe;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        height: 40px;

     }
}

