.userinfo{
   display: flex;
   padding: 20px;
   justify-content: space-between;
  align-items: center;
}

.user{
    display: flex;
    align-items: center;
    gap: 10px;

    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

}



.icons{
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;


    img{
        height: 20px;
        width: 20px;
        
    }

}